In [49]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score, precision_score

In [2]:
path_to_data = 'B:\\task\\мтс\\data\\Bank_Personal_Loan_Modelling.csv'

In [3]:
data = pd.read_csv(path_to_data)

In [5]:
data.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [8]:
data.shape

(5000, 14)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   float64
 7   Education           5000 non-null   int64
 8   Mortgage            5000 non-null   int64
 9   Personal Loan       5000 non-null   int64
 10  Securities Account  5000 non-null   int64
 11  CD Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

In [16]:
data = data.drop(['ID', 'ZIP Code'], axis = 1)

In [37]:
X_train, X_test, y_train, y_test = train_test_split(data.drop(['Personal Loan'], axis = 1), data['Personal Loan'],
                                                                      train_size=0.8, random_state = 1)

print(X_train.shape), print(y_train.shape)
print(X_test.shape), print(y_test.shape)

(4000, 11)
(4000,)
(1000, 11)
(1000,)

(None, None)

In [38]:
X_train

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Securities Account,CD Account,Online,CreditCard
1233,53,29,22,2,0.40,1,0,0,0,1,0
1056,36,6,25,1,0.67,3,0,0,0,1,0
1686,62,38,39,4,2.20,1,0,1,0,1,0
187,46,21,159,3,1.90,3,315,0,0,1,0
3840,56,31,35,3,0.10,2,114,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
2895,60,36,39,4,1.30,2,140,0,0,1,0
2763,55,31,13,4,0.70,1,0,0,0,1,0
905,46,22,28,1,1.00,1,84,0,0,1,1
3980,46,22,89,4,1.40,2,0,0,0,1,0
235,38,8,71,4,1.80,3,0,0,0,1,0

In [39]:
model = LogisticRegression(random_state = 1)
model.fit(X_train, y_train)

LogisticRegression(random_state=1)

In [40]:
model.score(X_train, y_train)

0.952

In [65]:
model.score(X_test, y_test)

0.943

In [63]:
pred_train = model.predict(X_train)
print('Train')
print(f'f1 score: {f1_score(y_train, pred_train)}')
print(f'precision score: {precision_score(y_train, pred_train)}')

Train
f1 score: 0.7125748502994012
precision score: 0.8263888888888888

In [64]:
pred_test = model.predict(X_test)
print('Test')
print(f'f1 score: {f1_score(y_test, pred_test)}')
print(f'precision score: {precision_score(y_test, pred_test)}')

Test
f1 score: 0.6742857142857143
precision score: 0.7866666666666666